name: Push Main Event
on:
  push:
    branches:
      - main

  workflow_dispatch:

env:
  REPO_ID: genshin-banpick-api
  REPO_OWNER: longbp1606
jobs:
  create-pull-request:
    runs-on: ubuntu-latest
    steps:
      - name: Create Pull Request
        run: |
          curl -L \
          -X POST \
          -H "Accept: application/vnd.github+json" \
          -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
          -H "X-GitHub-Api-Version: 2022-11-28" \
          https://api.github.com/repos/${{ env.REPO_OWNER }}/${{ env.REPO_ID }}/pulls \
          -d '{"title":"Deploy","body":"Deploy","head":"main","base":"deploy"}'
